@import ../../../styles/base/vars
@import ../../../styles/base/mixins

.Header
  background-color: $primary
  max-height: 4.5rem

  .container
    width: 80%
    margin: auto

    @include mobile-media-query
      width: 100%
      padding: 0 0.75rem

